/*
Offial JL color list:
Cream: #FFFAF2;
Seafoam blue: #A7E9ED;
Green Blue (teal): #87C6CE;
Light blue: #BBD6EE;
Blue: #4472C4;
*/

body {
	background-color: #A7E9ED;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    /*background: #f0f0f0;*/
    margin-left: 20px
}

table, th, td {
    border: 1px solid black;
}
form {
    margin: 0 auto;
    margin-top: 20px;
}

#app {
    padding-top: 3em;
}

#body {
    padding: 3em;
    text-align: center;
    background-color: #FFFAF2;
}

#nav .navA {
    border-radius: 10px 10px 0px 0px; /* top left, top right, bottom right, bottom left */
    background-color: #87C6CE;
    margin-left: .5em;
}

#sidebar {
    background-color: #A8D08C;
}

#sidebar .row {
    /*background-color: #4472C4;*/
    margin-bottom: .5em;
    line-height: 2em;
    text-align: center;
}