/*
Offial JL color list:
Cream: #FFFAF2;
Seafoam blue: #A7E9ED;
Green Blue (teal): #87C6CE;
Light blue: #BBD6EE;
Blue: #4472C4;
*/

body {
	background-color: #A7E9ED;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    /*background: #f0f0f0;*/
    margin-left: 20px
}

body a:link a:visited {
    color: #4472C4;
}

table, th, td {
    border: 1px solid black;
}
form {
    margin: 0 auto;
    margin-top: 20px;
}

#app {
    padding-top: 3em;
}

.lout {
    text-align: center;
}

#body {
    padding: 3em;
    text-align: left;
    background-color: #FFFAF2;
}

.tab {
    display: block;
    border-radius: 10px 10px 0px 0px; /* top left, top right, bottom right, bottom left */
    background-color: #87C6CE;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

.header {
    text-align: right;
    padding-bottom: .5em;
}

.header input {
     background:none!important;
     color: #4472C4;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.header input:hover {
    text-decoration: underline;
}

#sidebar {
    background-color: #A8D08C;
}

#sidebar .row {
    /*background-color: #4472C4;*/
    margin-bottom: .5em;
    line-height: 2em;
    padding-left: 2em;
}

.logout {
    text-align: center;
    background-color: #FFFAF2;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    min-width: 50px;
    margin-top: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
}
